<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p>
        <%# Wednesday, November 18, 2015 %>
            <% time = Time.new %>
            <%= "#{time.strftime("The date is %A, %B %d, %Y")}"%>
        </p>
    </body>
</html>